<ion-content>
    <center>
        <div class="logo-principal">
        <img src="img/anglers-inn-logo.png" alt="" width="100%;">
        </div>
        <!-- Input de Nombre-->
        <div class="input-icon" style="margin-top: 50px;">
        <div class="cuadro-input">
            <div style="margin-top: 5px;"><i class="icon ion-ios-person icono-input"></i></div>
        </div>
        <div class="list">
            <label class="item item-input label-icon">
            <input type="text" placeholder="First Name" class="placeh"ng-model="encuesta.name" ng-pattern="/^[a-zA-Z\s]*$/">
            </label>
        </div>
        </div>
        <!-- Input de Apellido-->
        <div class="input-icon">
        <div class="cuadro-input">
            <div style="margin-top: 5px;"><i class="icon ion-ios-person icono-input"></i></div>
        </div>
        <div class="list">
            <label class="item item-input label-icon">
            <input type="text" placeholder="Last Name" class="placeh" ng-model="encuesta.lastName" ng-pattern="/^[a-zA-Z\s]*$/">
            </label>
        </div>
        </div>
        <!-- Input de E-mail-->
        <div class="input-icon">
        <div class="cuadro-input">
            <div style="margin-top: 5px;"><i class="icon ion-email icono-input"></i></div>
        </div>
        <div class="list">
            <label class="item item-input label-icon">
            <input type="email" placeholder="E-Mail" class="placeh" ng-model="encuesta.email">
            </label>
        </div>
        </div>
    </center>
    <!-- Float button -->
    <div class="float-button" ng-click="IrP1()">
        <span class="height-fix">
        <a class="content" ng-click="">
            <i class="ion-chevron-right"> </i>
        </a>
        </span>
    </div>
</ion-content>