<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  </head>
  <body>
    <ion-pane>
      <ion-content>
        <center>
            <h1 style="margin-top: 160px;">Ground Transportation</h1>
            <div class="icons-container">
              <div class="icon-container">
                <img src="img/icons/sad.svg" alt="" ng-click="savep4(1)">
                <div class="span-container">
                  <span>Unsatisfied</span>
                </div>
              </div>
              <div class="icon-container">
                <img src="img/icons/confused.svg" alt="" ng-click="savep4(2)">
                <div class="span-container">
                  <span>Average</span>
                </div>
              </div>
              <div style="width:27%; float:left;">
                <img src="img/icons/happy.svg" alt="" width="100%;" ng-click="savep4(3)">
                <div class="span-container">
                 <span>Fully Satisfied</span>
                </div>
              </div>
            </div>
        </center>
        <div>
          <img src="img/anglers-inn-logo.png" alt="" class="footer-logo">
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>