/* Empty. Add your own CSS if you like */

/*Clases para el inicio*/
.input-icon{
    width:500px; 
    height: 47px;
    margin-top: 40px;
}
.cuadro-input{
    border: 1px solid #f2d376;
    width:80px; 
    background-color: #f2d376; 
    float:left;
    height:100%;
    text-align:center;
}
.icono-input{
    font-size: 37px; 
    color: #91782e;
}
.label-icon{
    border-color:#f2d376; 
    color:#91782e;
}
.placeh::placeholder{
    color:#91782e;
}
.logo-principal{
    width:500px; 
    margin-top: 100px;
}
 /* Clases para float button*/
.float-button {
    background-color:#000000;
    opacity: 1;
    color: white;
    border-radius: 50%;
    /*border-radius:15% 0 0 0;*/
    width: 50px;
    padding: 30px;
    font-size: 40px;
    position: fixed;
    bottom: -25%; /* Adjust height */
    right: 10%; /* Adjust position */
    z-index: 1000;
}
.float-button .height_fix {
    margin-top: 100%;
    border: 1px solid red;
}
    
.float-button .content {
    position: absolute;
    left: 3px;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    color: white;
}

/*Clases para preguntas*/
.icons-container{
    margin-top: 50px;
    width:700px; 
    height:240px;
}
.icon-container{
    width:27%; 
    float:left; 
    margin-right: 58px; 
    margin-left: 5px;
}
.icon-container img{
    width: 100%;
}
.span-container{
    margin-top:50px;
}
.span-container span{
    font-size: 25px;
}
.footer-logo{
    width: 300px;
    float: right; 
    margin-right: 20px;
    margin-top: 100px;
}